body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
