.m-auto {
  margin: 0 auto;
}

.mr-xsmall {
  margin-right: 1rem !important;
}

.mb-xsmall {
  margin-bottom: 1rem !important;
}

.mr-small {
  margin-right: 2rem !important;
}

.mb-small {
  margin-bottom: 2rem !important;
}

.mb-medium {
  margin-bottom: 3rem !important;
}

.mt-medium {
  margin-top: 3rem !important;
}

.mt-large {
  margin-top: 5rem !important;
}

.center {
  text-align: center;
}
