$color-primary: #fff;
$color-secondary: #516163;
$color-secondary-dark: #323b3c;
$color-accent: #cae7e4;
$color-accent-dark: #69d169;
$color-background-light: #f8f8f8;
$color-background-dark: #ccc;
$color-error: #dc0f0f;
